.fb-style {
  float: left;
  margin-left: 10%;
  margin-top: 10%;
}

.fb-button {
  background-color: #4267B2;
  color: white;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 2px;
  width: 85%;
  font-weight: 500;
}

.location-button {
  background-color: #EF5C48;
  font-size: 26px;
  font-family: 'Courgette';
  width: 85%;
  border-radius: 2px;
  color: white;
  border-style: none;
}

.button, a {
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5em;
  border: none;
}
