a {
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5em;
  border: none;
}

button {
  font-size: 1.5rem;
  // margin: 0;
  background-color: #EF5C48;
  color: white;
  // padding: .1em .6em;
  min-width: 100%;
  // margin-bottom: .4em;
  border-radius: 4px;
  font-family: 'Courgette';
  border-style: none;
  height: 50px;

  &:disabled {
    background: #dddddd;
  }
}

.location-button {
  margin-bottom: 1em;
}

.swipe-buttons {

  .swipe {
    display: inline-block;
    min-width: 5px;
    background-color: white;
    color: #EF5C48;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

// @media screen and (max-width: 770px) {
//   .swipe-buttons {
//     display: none;
//   }
// }

.fb-button {
  // font-size: 1.3em;
  font-family: sans-serif;
  background-color: #4267B2;
  color: white;
  border-radius: 2px;
  font-weight: 300;
  &:hover {
    background-color: #4267B2;
    color: white;
  }
}
