html, body {
  font-family: "helvetica neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

.love-chain {
  list-style: none;
  text-align: center;
  width: 100%;
  position: relative;
  display: block;

  div {
    margin: auto;
    padding: 1.4em 0;
    border-radius: 10px;
    height: 10em;
    width: 85%;
    background-color: white;
    background-size: 16em 12em;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    font-size: 1em;
    margin: 0;

    &:first-child {
      margin-top: 2em;
      font-weight: 100;
      font-size: 1.5em;
    }

    font-weight: 200;
  }
}
