.form-wrap {
  border-radius: 1px;
  max-width: 85%;
  margin: auto;
  padding: 5% 0;
}

.love-form {
  width: 85%;
  margin: auto;

  div {
    // position: relative;
    // display: block;
    text-align: center;
  }

  label {
    display: block;
    font-weight: 200;
    font-size: 1.5em;
    height: 60px;
    line-height: 60px;

    &:nth-child(2) {
      font-family: 'Courgette';
      color: #EF5C48;
      font-size: 1em;
      height: 30px;
      line-height: 30px;
    }

    &:nth-child(3) {
      margin-bottom: 1em;
    }

    div {
      display: block !important;
      width: 100% !important;
    }
  }
}

.location-input {
  border: none;
}
