nav {
  // position: fixed;
  // top: 0;
  width: 100%;
  // height: 12%;
  // padding-left: 10px;
  // padding-right: 10px;
  background-color: black;
  color: #EF5C48;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16),0px 3px 6px rgba(0,0,0,0.23);
  text-align: center;

  li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: #EF5C48;
    font-weight: 200;
    font-family: 'Courgette';
  }

  li {
    font-size: 1em;

    &:last-child {
      width: 10%;
    }

    div {
      display: block;
    }
  }

  .active {

  }
}

.header {
  // background-color: rgba(purple, 0.8);
  background-color: black;
  font-family: 'Sofia';
  color: #EF5C48;
  height: 40px;
  // text-align: center;
  position: fixed;
  width: 100%;

    span {
      line-height: 40px;
      font-weight: 400;
      font-size: 1.5em;
      padding-left: 10%;
    }
}

.app {
  // position: fixed;
  margin-top: 2em;
  bottom: 0;
  height: 92%;
  font-weight: 400;

}
