.profile {
  font-weight: 200;
  text-transform: capitalize;
  max-width: 85%;
  margin: auto;
  margin-top: 8em;

  .fancy {
    color: #EF5C48;
    font-size: 2rem;
    font-weight: 600;
  }

  p, div {
    font-size: 1.5rem;
    // font-family: 'Courgette';    
  }
}
