.profile {
  font-weight: 200;
  text-transform: capitalize;
  max-width: 85%;
  margin: auto;
  margin-bottom: 12em;
  margin-top: 1.5em;
  color: #EF5C48;

  .card {
    border: 4px solid black;
    color: #EF5C48;
    border-radius: 4px;
  }

  .heart {
    color: #EF5C48;
  }

  .fancy {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  .inhale {
    color: black;
    font-weight: 400;
    font-family: 'Courgette';
  }

  .distance {
    font-size: 1.8em;
    color: black;

    span {
      color: #EF5C48;
      font-size:.3em;
    }
  }

  .in {
    font-family: 'Courgette';
    color: #EF5C48;
    font-size: .7em;
    height: 30px;
    line-height: 30px;
    text-transform: lowercase;
  }

  p, div {
    font-size: 1.4rem;
    // font-family: 'Courgette';
  }

  i {
    margin: 1em;
  }

  p {
    margin: .3em;
  }
}

.map {
  margin: auto;
}
