.welcome {
  margin-top: 20%;

  .copy-background {
    font-weight: 200;

    .copy {

      h2 {
        font-size: 2.5em;
        font-weight: 200;
        color: #EF5C48;
      }

      p {
        color: #EF5C48;
        font-size: 26px;
        font-family: 'Courgette';
        padding: 1% 10%;
      }
    }
  }
}
